<modal
  [open]="openedCreateModal"
  [width]="'325px'"
  [title]="
    ingredient
      ? ('APPS.YOUR_CHEF.INGREDIENT.edit_ingredient' | translate)
      : ('APPS.YOUR_CHEF.INGREDIENT.create_ingredient' | translate)
  "
  [submitButtonText]="
    ingredient ? ('BASIC.edit' | translate) : ('BASIC.create' | translate)
  "
  [closeButtonText]="'BASIC.cancel' | translate"
  (submitEvent)="ingredient ? updateIngredient() : createIngredient()"
  (closeEvent)="closeIngredientModal(false)"
>
  <form [formGroup]="ingredientForm">
    <div class="field">
      <form-input
        [labelText]="'APPS.YOUR_CHEF.INGREDIENT.ingredient_name' | translate"
        [placeholderText]="
          'APPS.YOUR_CHEF.INGREDIENT.introduce_ingredient_name' | translate
        "
        [type]="'text'"
        [required]="ingredient ? false : true"
        formControlName="ingredientName"
      ></form-input>
      <input-error
        [errorMsg]="ingredientNameError"
        [showError]="true"
      ></input-error>
    </div>
    <div class="field">
      <form-input
        [labelText]="'APPS.YOUR_CHEF.INGREDIENT.ingredient_desc' | translate"
        [placeholderText]="
          'APPS.YOUR_CHEF.INGREDIENT.introduce_ingredient_desc' | translate
        "
        [type]="'text'"
        formControlName="ingredientDesc"
      ></form-input>
    </div>
    <div class="field">
      <form-select
        [labelText]="'APPS.YOUR_CHEF.INGREDIENT.ingredient_type' | translate"
        [options]="ingredientTypes"
        [required]="true"
        formControlName="ingredientType"
      ></form-select>
    </div>
  </form>
</modal>
