@if(open) {
<div class="modal-overlay" (click)="closeModalClickingOverlay ? close() : null">
  <div
    class="modal-container"
    [ngStyle]="{ width: width }"
    (click)="$event.stopPropagation()"
  >
    <div class="modal-title">
      <h2>{{ title }}</h2>
    </div>
    <hr />
    <div class="modal-content">
      <ng-content> </ng-content>
    </div>
    <hr />
    <div class="modal-buttons">
      <basic-button
        [color]="'red'"
        [text]="closeButtonText"
        (click)="close()"
      ></basic-button>
      <basic-button
        [color]="'green'"
        [text]="submitButtonText"
        (click)="submit()"
      ></basic-button>
    </div>
  </div>
</div>
}
