@if(opened) {
<div class="dialog-overlay" (click)="close()">
  <div class="dialog-container">
    <div class="dialog-header">
      <div class="dialog-image">
        <svg [ngStyle]="{ fill: iconColor }">
          <use
            [attr.xlink:href]="'assets/icons/dialog-icons.svg#' + dialogIcon"
          ></use>
        </svg>
      </div>
      <div class="dialog-title">
        <h3>{{ title }}</h3>
      </div>
    </div>
    <div class="dialog-description">
      {{ description }}
    </div>
    <div class="dialog-buttons">
      <basic-button
        [color]="closeButtonColor"
        [text]="closeButtonText"
        (click)="close()"
      ></basic-button>
      <basic-button
        [color]="submitButtonColor"
        [text]="submitButtonText"
        (click)="submit()"
      ></basic-button>
    </div>
  </div>
</div>
}
