.toggle-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  padding: 5px;
  height: 20px;
  width: 20px;

  button {
    margin-top: 3px;
  }
}

.toggle-button:hover {
  background-color: #222222;
  border-radius: 5px;
}

img {
  margin: 3px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.img-container {
  margin: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.separator {
  margin: 0 5px 0 5px;
  border: none;
  height: 1px;
  background-color: #242424;
}

.navbar {
  display: none;
  position: fixed;
  height: 50px;
  width: 100%;
  flex-direction: row;
  align-items: center;

  img {
    width: 25px;
    height: 25px;
  }

  .img-container {
    margin: 10px 10px 10px 15px;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  width: var(--sidebar-width);
  height: 100%;
  transition: left 0.3s ease;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);

  .content {
    height: 100%;
    width: 100%;
    padding: 10px 0;
  }

  .header {
    align-items: center;
    display: flex;
    flex-direction: row;

    .toggle-button {
      margin-left: auto;
      margin-right: 15px;
    }

    p {
      margin-left: 10px;
    }
  }
}

.sidebar.open {
  left: 0;
}

@media (max-width: 900px) {
  .navbar {
    display: flex;
  }

  .sidebar {
    left: calc(-1 * var(--sidebar-width));
  }
}
