label {
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: bold;
}

select {
  padding: 7px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-left: 5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.required {
  color: red;
  font-weight: bold;
}

.select-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.select-container::after {
  content: "﹀";
  font-weight: bold;
  font-size: 12px;
  color: gray;
  position: absolute;
  right: 30px;
  bottom: 22%;
  transform: translateY(-50%);
  pointer-events: none;
}

select:focus {
  outline: none;
  border-color: black;
}

select:hover {
  border-color: black;
}
