<basic-dialog
  [opened]="true"
  [type]="'delete'"
  [title]="'APPS.YOUR_CHEF.INGREDIENT.delete_ingredient' | translate"
  [description]="'APPS.YOUR_CHEF.INGREDIENT.delete_ingredient_desc' | translate"
></basic-dialog>

<div class="add-button-field">
  <basic-button
    [text]="'APPS.YOUR_CHEF.INGREDIENT.add_ingredient' | translate"
    color="#FF9932"
    (click)="openCreateIngredient()"
  ></basic-button>
</div>
<div class="header-container">
  <h1>{{ "APPS.YOUR_CHEF.ingredients_welcome" | translate }}</h1>
  <div class="search-container">
    <search-input
      [placeholder]="'APPS.YOUR_CHEF.INGREDIENT.search_ingredient' | translate"
    ></search-input>
  </div>
</div>
<div class="card-container">
  @for (ingredient of ingredients; track ingredient) {
  <ingredient-card [ingredient]="ingredient"></ingredient-card>
  }
</div>
<create-ingredient-modal
  [openedCreateModal]="openedCreateModal"
  (createdIngredient)="updateIngredients($event)"
></create-ingredient-modal>
