<div class="select-container">
  <label for="selectField">
    {{ labelText }}
    @if(required) {
    <span class="required">*</span>
    }
  </label>
  <select
    formControl="formControlName"
    (change)="onValueChange($event)"
    [disabled]="disabled"
    [value]="selectedValue"
  >
    @for (option of options; track option.value) {
    <option value="" disabled selected hidden>
      {{ "BASIC.select_option" | translate }}
    </option>
    <option [value]="option.value">{{ option.label | translate }}</option>
    }
  </select>
</div>
