<div class="header-container">
  <h1>
    {{ "APPS.YOUR_CHEF.recipe_welcome" | translate }}
  </h1>
  <div class="search-container">
    <search-input
      [placeholder]="'APPS.YOUR_CHEF.search_recipe' | translate"
    ></search-input>
  </div>
</div>
<div class="card-container">
  <recipe-card
    [imageSrc]="'./assets/images/examples/hummus.jpg'"
    [title]="'AAA'"
    [principalIngredients]="['a', 'b']"
    [time]="'45 min'"
    [difficulty]="'easy'"
    [people]="2"
  ></recipe-card>
  <recipe-card
    [imageSrc]="'./assets/images/examples/hummus.jpg'"
    [title]="'AAA'"
    [principalIngredients]="['a', 'b']"
    [time]="'45 min'"
    [difficulty]="'easy'"
    [people]="2"
  ></recipe-card>
  <recipe-card
    [imageSrc]="'./assets/images/examples/hummus.jpg'"
    [title]="'AAA'"
    [principalIngredients]="['a', 'b']"
    [time]="'45 min'"
    [difficulty]="'easy'"
    [people]="2"
  ></recipe-card>
</div>
