<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="login-title"><h2>Login</h2></div>
    <form-input
      [labelText]="'Email'"
      [placeholderText]="'Introduce your email'"
      [type]="'email'"
      formControlName="email"
    ></form-input>
    <form-input
      [labelText]="'Password'"
      [placeholderText]="'Introduce your password'"
      formControlName="password"
    ></form-input>
    <button type="submit">Iniciar Sesión</button>
  </form>
</div>
